{% extends 'base.html.twig' %}

{% block title %}Modification d'une catégorie{% endblock %}

{% block body %}

<h1>Modification d'une catégorie existante</h1>

{{ form_start(form) }}

{{ form_widget(form) }}

<button type="submit" class="btn btn-secondary">Modifier</button>

{{ form_end(form) }}

{% endblock %}