{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<h1>Liste des catégories disponibles</h1>
<a href="{{ path('category_create') }}" class="btn btn-primary">Ajouter une nouvelle catégorie</a>

<table class="table">
<thead>
    <tr>
        <th>Nom de la catégorie</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for category in categories %}
    <tr>
        <td>{{category.name }}</td>
        <td>
            <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
            <a href="{{ path('category_delete', {'id': category.id}) }}" class="btn btn-danger"><i class="fas fa-ban"></i></a>
        </td>
    </tr> 
    {% endfor %}
</tbody>
</table>
{% endblock %}
