{% extends 'base.html.twig' %}

{% block title %}Connexion à l'administration{% endblock %}

{% block body %}

<div class="w-auto m-3 p-2">
    <div class="m-auto card border-warning mb-3" style="max-width: 30rem;">
        <h1 class="card-header">Connexion</h1>
        <div class="card-body">
            <div class="m-3 p-2">
                {{ form_start(form) }}
                {% if error %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endif %}
                {{ form_widget(form) }}
                    <button type="submit" class="btn btn-warning mt-2">Connexion</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}